   <div class="container">
    <div class="card">
  <div class="card-body">
       <div class="col-sm">
        <div class="card-header">
<h1>Editing Doc</h1>

<%= render 'form', doc: @doc %>
<button><%= link_to 'Back', docs_path %></button>

</div></div></div></div></div>