   <div class="container">
    <div class="card">
  <div class="card-body">
<h1>Editing Doc</h1>

<%= render 'form', doc: @doc %>

<%= link_to 'Show', @doc %> |
<%= link_to 'Back', docs_path %>
</div></div></div>