<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
<div align="center">   
<h1 align="center">Welcome to SmartDoc !</h1>
<br>
<h2></h2> This application allows you to manage daily appointments, patient information and allows you to manage and add records.</h2>
<br> <%= image_tag("hospital.jpg") %> 




</div>




</div>

