<div vlass="container">
<div class="card">
  <div class="card-body">
<h1>Notes#edit</h1>
<p>Find me in app/views/notes/edit.html.erb</p>


<h1>Editing Note</h1>
<%= render 'form' %>
<%= link_to 'Show', patient_note_path(@patient, @note) %> |
<%= link_to 'Back', patient_notes_path(@patient) %>
</div></div></div>